.main-chat
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group test
      %ul.main-header__left-box__member-list
        Member:
        %li.main-header__left-box__member-list__member name
    = link_to  "#" do
      .main-header__edit-btn Edit
  .messages
    .message
      .message__upper-info
        %p.message__upper-info__user name
        %p.message__upper-info__date 2020/1/9(thurs) 10:03:34
      %p.message__text Hello
      .message__upper-info
        %p.message__upper-info__user name
        %p.message__upper-info__date 2020/1/9(thurs) 10:03:34
      %p.message__text Hello
      
  .form
    %form.text-form
      .form-box
        %input{type: "text", class: "form-box__text", placeholder: "type a message"}
        %label{class: "form-box__image"}
          = icon("far", "image")
          %input{type: "file", class: "form-box__image__file"}
      %input{type: "submit", class: "form-btn", value: "Send"}