.message
  .message__upper-info
    .message__upper-info__user
      = message.user.name
    .message__upper-info__date
      = message.created_at.to_s
  .lower-message
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
